body {
    background: black;
    margin: 0;
}

.hello {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: red;
}

::selection {
    color: black;
    background: red;
}